@import url(https://fonts.google.com/specimen/REM);
@import url(https://kenwheeler.github.io/slick/);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "specimen", sans-serif;
}

/* Global Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Header Styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #390e69;
    color: #fff;
}

header .logo {
    width: 100px;
    height: auto;
    border-radius: 50px;
}

nav {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #fff;
}

/* Main Content Styles */
main {
    text-align: center;
    padding: 40px;
    background-color: #f5e7df;
}

.welcome {
    font-style: italic;
    font-size: 30px;
    margin-bottom: 20px;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
    background-color: #f5e7df;
    padding: 20px;
    border: 1px solid #d7b9a8;
    border-radius: 8px;
}

.form-container form {
    display: flex;
    flex-direction: column;
}

.form-container label {
    font-weight: bold;
    margin-bottom: 5px;
}

.form-container input,
.form-container select {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-container button {
    color: #000000;
    cursor: pointer;
    border-radius: 8px;
    padding: 8px 20px;
    box-shadow: 0 0 5px rgb(255, 208, 0), 0 0 25px rgb(255, 153, 0);
    transition: all 0.2s ease;
}

.form-container button:hover {
    box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan;
}

/* style-slider.css */
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    margin: 0;
  }
  
  .slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }
  
  .slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    display: none;
  }
  
  .slick-prev,
  .slick-next {
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    cursor: pointer;
  }
  
  .slick-prev {
    left: 10px;
  }
  
  .slick-next {
    right: 10px;
  }
  
  .slick-dots {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .slick-dots li {
    margin: 0 5px;
  }
  
  .slick-dots li button {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid #fff;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .slick-dots li.slick-active button {
    background-color: #fff;
  }  

/* Destinations Styles */
#destinations {
    text-align: center;
    padding: 40px;
    background-color: #ffdfda;
}

.destination-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.destination {
    flex: 0 0 200px;
    margin: 10px;
    padding: 20px;
    border: 1px solid #d7b9a8;
    border-radius: 8px;
    background-position: center;
    background-size: cover;
    color: #fbff1b;
    cursor: pointer;
    animation: moveBackground 5s linear infinite;
}

.destination h3,
.destination p {
    font-size: 20px;
    margin-bottom: 10px;
    letter-spacing: 5px;
    color: #ffffff;
    outline: none;
    animation: animate 10s linear infinite;
}
@keyframes animate {
    10%, 18%, 20%, 50.1%, 60%, 65.1%, 80%, 90.1%, 92% {
        color: #0e3742;
        text-shadow: none;
    }
    18.1%, 20.1%, 30%, 50%, 60.1%, 65%, 80.1%, 90%, 92.1%, 100% {
        color: #fff;
        text-shadow: 0 0 10px #ba0bff, 0 0 20px #ec03f4, 0 0 40px #4d25ff, 0 0 80px #9c03f4, 0 0 160px #d503ff;
    }
}

.destination1 {
    background-image: url(assets/SA-1.jpeg);
}
.destination2 {
    background-image: url(assets/BELGIA-1.jpeg);
}
.destination3 {
    background-image: url(assets/COLOMB-1.jpeg);
}
.destination4 {
    background-image: url(assets/DUTCH-1.jpeg);
}
.destination5 {
    background-image: url(assets/JERMAN-1.jpeg);
}
.destination6 {
    background-image: url(assets/USA-1.jpeg);
}
.destination7 {
    background-image: url(assets/Singapore.jpeg);
}
.destination8 {
    background-image: url(assets/sydney.jpeg);
}
.destination9 {
    background-image: url(assets/RA1.jpeg);
}
/*animasi gambar*/
@keyframes moveBackground {
    from {
        background-position: center;
    }
    to {
        background-position: bottom;
    }
}

/*apply movement ke gambar destinasi*/
.destination1:hover {
    animation: moveBackground 5s linear infinite;
}
.destination2:hover {
    animation: moveBackground 5s linear infinite;
}
.destination3:hover {
    animation: moveBackground 5s linear infinite;
}
.destination4:hover {
    animation: moveBackground 10s linear infinite;
}
.destination5:hover {
    animation: moveBackground 10s linear infinite;
}
.destination6:hover {
    animation: moveBackground 10s linear infinite;
}
.destination7:hover {
    animation: moveBackground 10s linear infinite;
}
.destination8:hover {
    animation: moveBackground 10s linear infinite;
}
.destination9:hover {
    animation: moveBackground 10s linear infinite;
}
/* Responsive destination Styles */
@media only screen and (max-width: 768px) {
    .destinations {
        font-size: 50%;
    }

}

/* Testimonials Styles */
#testimonials {
    text-align: center;
    padding: 40px;
    background-color: #f1f5f8;
}

.testimonial {
    margin-bottom: 20px;
}

/* Benefits Styles */
#benefits {
    text-align: center;
    padding: 40px;
    background-color: #ecf8fe;
}

.benefit {
    margin-bottom: 20px;
}

/* Contact Styles */
#contact {
    text-align: center;
    padding: 40px;
    background-color: #fbf4e7;
}

.call-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #390e69;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.call-btn:hover {
    background-color: #3c165c;
}

/* Footer Styles */
footer {
    text-align: center;
    padding: 20px;
    background-color: #390e69;
    color: #fff;
}

.footer-logo {
    font-size: 24px;
}

.footer-text {
    margin-top: 10px;
}

/* Keyframes */
@keyframes moveBackground {
    from {
        background-position: center;
    }
    to {
        background-position: bottom;
    }
}

/* Responsive Styles */
@media only screen and (max-width: 768px) {
    .welcome {
        font-size: 25px;
    }

    .form-container {
        max-width: 100%;
    }

    .destination {
        flex: 0 0 45%;
    }

    /* Add more styles for other elements as needed */
}

@media only screen and (max-width: 576px) {
    .welcome {
        font-size: 20px;
    }

    .form-container {
        max-width: 100%;
    }

    .destination {
        flex: 0 0 100%;
    }

    /* Add more styles for other elements as needed */
}

